<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input formControlName="firstName" placeholder="First Name" required>
  <input formControlName="lastName" placeholder="Last Name" required>
  <input formControlName="email" placeholder="Email" required type="email">
  <input formControlName="password" placeholder="Password" required type="password">
  <input formControlName="confirmPassword" placeholder="Confirm Password" required type="password">
  <button type="submit">Register</button>
  @if (error) {
    <div style="color: red;">{{ error }}</div>
  }
  @if (success) {
    <div style="color: green;">{{ success }}</div>
  }
</form>
<a routerLink="/login">Already have an account? Log in</a>